

<style>
    .spacer {
        aspect-ratio: 1200/300;
        width: 100%;
        background-repeat:  no-repeat;
        background-position: center;
        background-size: cover;
    }
    .layer1{
    background-image: url('assets/layered-waves-haikei.svg');
    }
    .layer2{
    background-image: url('assets/stacked-peaks-haikei.svg');
    }
    .layer3{
    background-image: url('assets/stacked-steps-haikei.svg');
    }
    .layer4{
    background-image: url('assets/wave-haikei.svg');
    }
</style>
<div class="flex  flex-col min-h-screen font-body">
    <app-header class="sticky top-0 z-50 " (clickEvent)="navigation($event)" ></app-header>

    
    <div class="sticky top-0 ">
        <!--About Section-->
        <div class="bg-mono-darker text-white">
            <div  #about id="about" class="sectionMargin grid gap-4 justify-items-center cardShadow">
                <h1 class="h1Text lg:py-16 md:py-10 py-5">About me!</h1>
                <div class="aboutCardEffects">
                    <div class="flex items-center">
                        <h1 class="h1Text">Hello, my name is Victor Torres!</h1>
                        <a target="_blank" rel="noopener noreferrer" href="assets/resume.pdf" class=" w-[40%] max-w-md">
                            <img class="cursor-pointer "  src="assets/resume.png">
                        </a>
                    </div>
                    <div class="h3Text md:py-10 py-5">
                        I am a third year student interested in software development and am studying Computer Science at the University of Florida. Here's a bit about me...
                    </div>

                    <ul class="flex justify-evenly md:text-2xl sm:text-xl text-lg ">
                        <li (click)="navigation('education')" class="cursor-pointer px-3 py-2">Education</li>
                        <li (click)="navigation('Skills')" class="cursor-pointer px-3 py-2">Skills</li>
                        <li (click)="navigation('Projects')" class="cursor-pointer px-3 py-2">Projects</li>
                        <li (click)="navigation('Contact')" class="cursor-pointer px-3 py-2 ">Contact</li>
                    </ul>
                </div>  
            </div>

        <!--Divider-->
        <div class="spacer layer1"></div>


        <!--education-->
        <section class="bg-mono-dark text-white">
            <div #education id="education" class="mx-5 flex justify-center ">
                <div class="flex flex-col justify-between ">
                    <h1 class="h1Text pb-16 text-center">Education</h1>
                    <div class="md:flex md:justify-evenly  ">
                        <app-school-card [school]="uf" [graduated]="false" class="px-6 pb-16"></app-school-card>
                        <app-school-card [school]="gcsc" [graduated]="true" class="px-6 pb-16"></app-school-card>
                    </div>
                </div>
            </div>
        </section>
        <!--Divider-->
        <div class="spacer layer2"></div>
        <!--Skills section-->
        <section class="bg-mono-aqua text-white">
            <div #skills id="skills" class="sm:mx-5 mx-2">
                <h1 class="h1Text pb-16 text-center"> Skills</h1>
                <div class="flex justify-center">
                    <div class="max-w-7xl py-5
                                grid lg:gap-8 lg:px-8 gap-4 px-4 place-items-center
                                xl:grid-cols-3 grid-cols-2">
                            <app-skill-card *ngFor="let skill of skillsArray" [skill]="skill"></app-skill-card>
                    </div>
                </div>
            </div>
        </section>
        <!--Divider-->
        <div class="spacer layer3"></div>
        <!--Projects seciton-->
        <section class="bg-mono-navy text-white">
            <div #projects id="projects" class="flex justify-center mx-5">
                <div class=" h-screen flex flex-col justify-evenly">
                    <h1 class="h1Text pt-10 md:pb-20 pb-10  text-white"> Projects</h1>
                    <div class="w-full bg-gray-200 h-1">
                        <div class="bg-blue-600 h-1" style="width: 45%"></div>
                    </div>
                </div>
            </div>
        </section>

        <!--Divider-->
        <div class="spacer layer4"></div>
        
        <section class="bg-mono-dark text-white ">
            <div #contact id="contact" class="p-10 flex justify-center">

                <div class=" grid md:grid-cols-2  grid-cols-1  md:justify-items-center ">
                    <h1 class="h1Text text-center pb-10 md:col-span-2"> Contact</h1>

                    <div class="h3Text">
                        <li class="py-1">Location: Panama City Beach, Florida</li>
                        <li class="py-1">Phone: 1 (850) 346-5971</li>
                        <li class="py-1">Email: vt.antonio20@gmail.com</li>
                    </div>
                    
                    <div class="h3Text">
                        <li class=" py-1 "><a href="https://github.com/vtantonio20" class="text-blue-400">Github</a></li>
                        <li class=" py-1"><a href="https://www.linkedin.com/in/victor-torres-a57170224/" class="text-blue-400">LinkedIn</a></li>
                    </div>

                </div>
            </div>
            
        </section>

        <app-footer class="sticky bottom-0 z-50 " ></app-footer>

    </div>
</div>
