<div class="
    sm:bg-mono-charcoal  rounded-2xl
    xl:w-[375px] xl:h-[375px]
    md:w-[337.5px] md:h-[337.5px] 
    sm:w-[281.25px] sm:h-[281.25px]
    w-[150px] h-[150px] 
    hover:scale-110 transition-all duration-500  ">
    <!--Only display image on small screen-->
    <div class="max-h-full flex justify-center ">
        <img class="md:h-[288px] md:w-[288px] 
                    sm:w-[240px] sm:h-[240px] 
                    w-[155px] h-[155px] sm:rounded-none  rounded-2xl p-2"  src={{skill?.img}}>
    </div>
    <p class="sm:text-2xl py-2 text-white text-center sm:visible invisible ">{{skill?.name}}</p>

</div>

<!--sm:h-3/4 sm:pt-5 w-full p-5 max-h-full-->